body {
    background-color: #F0FFF0;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4B0082;
    background: linear-gradient(90deg, rgba(0,127,200,1) 0%, rgba(11,157,139,0.81) 35%, rgba(217,79,22,1) 100%);
    color: #FFDAB9;
}

.header #current {
    color: #FAEBD7;
    font-size: 1.2em;
}

.header a {
    color: #FFDAB9;
}

.header img {
    width: 64px;
    height: 64px;
}

.footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #333;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(34,195,76,0.81) 50%, rgba(34,193,195,1) 100%);
    text-align: center;
    width: 100%;
    padding: 10px;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
}
